<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>m68ap</key>
	<dict>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7481.20100202.4orot/iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
		<key>restorekey</key>
		<string>7029389c2dadaaa1d1e51bf579493824</string>
		<key>KernelcacheKey</key>
		<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
		<key>KernelcacheIV</key>
		<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
		<key>device</key>
		<string>iphone11</string>
		<key>restoreiv</key>
		<string>25e713dd5663badebe046d0ffa164fee</string>
		<key>restoredmg</key>
		<string>018-6494-014</string>
		<key>build</key>
		<string>7E18</string>
	</dict>
	<key>n82ap</key>
	<dict>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/061-9853.20101122.Vfgt5/iPhone1,2_4.2.1_8C148_Restore.ipsw</string>
		<key>restorekey</key>
		<string>91fd0e11469cafd56cff8ac906e54b93</string>
		<key>KernelcacheKey</key>
		<string>899504f05b254e543d98fcff61d1dc03</string>
		<key>KernelcacheIV</key>
		<string>63e4f6107e33379100b2f3e1cc0fdd94</string>
		<key>device</key>
		<string>iphone12</string>
		<key>restoreiv</key>
		<string>673d874f06e87e018adbe8a34425df19</string>
		<key>restoredmg</key>
		<string>038-0029-002</string>
		<key>build</key>
		<string>8C148</string>
	</dict>
	<key>n88ap</key>
	<dict>
		<key>device</key>
		<string>iphone21</string>
		<key>restoreiv</key>
		<string>26ec90f47073acaa0826c55bdeddf4bb</string>
		<key>iBSSKey</key>
		<string>36782ee3df23e999ffa955a0f0e0872aa519918a256a67799973b067d1b4f5e0</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4347.20120427.o2yov/iPhone2,1_5.1.1_9B206_Restore.ipsw</string>
		<key>restorekey</key>
		<string>7af575ca159ba58b852dfe1c6f30c68220a7a94be47ef319ce4f46ba568b7a81</string>
		<key>iBECKey</key>
		<string>677be330d799ffafad651b3edcb34eb787c2d6c56c07e6bb60a753eb127ffa75</string>
		<key>iBSSIV</key>
		<string>0cbb6ea94192ba4c4f215d3f503279f6</string>
		<key>KernelcacheIV</key>
		<string>0dc795a64cb411c21033f97bceb96546</string>
		<key>build</key>
		<string>9B206</string>
		<key>iBECIV</key>
		<string>1fe15472e85b169cd226ce18fe6de524</string>
		<key>KernelcacheKey</key>
		<string>0cc1dcb2c811c037d6647225ec48f5f19e14f2068122e8c03255ffe1da25dec3</string>
		<key>restoredmg</key>
		<string>038-4349-020</string>
	</dict>
	<key>n90ap</key>
	<dict>
		<key>device</key>
		<string>iphone31</string>
		<key>restoreiv</key>
		<string>4e1f7c7bbd422056d58c71ac09fb4f1e</string>
		<key>iBSSKey</key>
		<string>1a669876c9e6e1423fe153ca7ab817a9c210fea5e96fb5e52cb4c6e8b3ef4a1c</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-6051.2012.0525.Cvby7/iPhone3,1_5.1.1_9B208_Restore.ipsw</string>
		<key>restorekey</key>
		<string>6c8e84211adeee5f4118869d82c371237f589cf77ec12e89d58d08d7a41a8aca</string>
		<key>iBECKey</key>
		<string>cce6b84ba39aaa034dfe63efd8fac8c745f7585b8dc305f2c514d5ac9d530c02</string>
		<key>iBSSIV</key>
		<string>cc7a22d7a097266bab807fd6dc52056d</string>
		<key>KernelcacheIV</key>
		<string>fc3a2c73bcc6dcacb5cc4bcd23a287f2</string>
		<key>build</key>
		<string>9B208</string>
		<key>iBECIV</key>
		<string>d27e94c066831e6148937622ea4b41aa</string>
		<key>KernelcacheKey</key>
		<string>3f826da918ecf174481a0a75ee9229e7eb3f0fdf892fc8f894b024e972698ad8</string>
		<key>restoredmg</key>
		<string>038-5512-003</string>
	</dict>
	<key>n92ap</key>
	<dict>
		<key>device</key>
		<string>iphone33</string>
		<key>restoreiv</key>
		<string>c248e221c08ece5862fea42a58dad552</string>
		<key>iBSSKey</key>
		<string>4ce2b4a380a6df017ca101020e4af9aca892ce96a80bd664b12a75ac9d8f8ce4</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4291.20120427.Zs8F0/iPhone3,3_5.1.1_9B206_Restore.ipsw</string>
		<key>restorekey</key>
		<string>28db49d00990ced317a7bcd24755b3426bb246cb135111126d8b3f7bb8ba9252</string>
		<key>iBECKey</key>
		<string>ed45e85db0eb1b28185078106b10a4bee08d2df12522aa371ed50a11219f8f3a</string>
		<key>iBSSIV</key>
		<string>30121b6c9866b26fe5082ea3001de870</string>
		<key>KernelcacheIV</key>
		<string>3ae1e715dcc2402520352758fb86fd44</string>
		<key>build</key>
		<string>9B206</string>
		<key>iBECIV</key>
		<string>0c5fb4c7efaae483f2dc5234fb3159dd</string>
		<key>KernelcacheKey</key>
		<string>bff98717d90b4be2845968a03e44a4a112e1e5fa875816578800e019b374777f</string>
		<key>restoredmg</key>
		<string>038-4361-021</string>
	</dict>
	<key>n45ap</key>
	<dict>
		<key>device</key>
		<string>ipod11</string>
		<key>restoreiv</key>
		<string>25e713dd5663badebe046d0ffa164fee</string>
		<key>downloadurl</key>
		<string>iPod1,1_3.1.3_7E18_Restore.ipsw</string>
		<key>restorekey</key>
		<string>7029389c2dadaaa1d1e51bf579493824</string>
		<key>iBSSIV</key>
		<string>Not</string>
		<key>build</key>
		<string>7E18</string>
		<key>KernelcacheIV</key>
		<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
		<key>iBECIV</key>
		<string>Not</string>
		<key>KernelcacheKey</key>
		<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
		<key>restoredmg</key>
		<string>018-6494-014</string>
	</dict>
	<key>n72ap</key>
	<dict>
		<key>device</key>
		<string>ipod21</string>
		<key>restoreiv</key>
		<string>654eb6a2290da5b9b77e6570f2d8ba2b</string>
		<key>iBSSKey</key>
		<string>c3f0f7a3093a74b4ead7fa0b4f80dd38</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/061-9855.20101122.Lrft6/iPod2,1_4.2.1_8C148_Restore.ipsw</string>
		<key>restorekey</key>
		<string>8d53585fa73916d27016abc81e41da82</string>
		<key>iBECKey</key>
		<string>737023ff441df66a0e6dfc19ae15df67</string>
		<key>iBSSIV</key>
		<string>856c2d9884ab1485cfd75b533246282b</string>
		<key>KernelcacheIV</key>
		<string>2713903e1791608630aee3793cb2dc5c</string>
		<key>build</key>
		<string>8C148</string>
		<key>iBECIV</key>
		<string>2aed77208e0d6e0cd2d605c42fc75279</string>
		<key>KernelcacheKey</key>
		<string>1d052174d8d05c5a68a75b36ff4f28b6</string>
		<key>restoredmg</key>
		<string>038-0049-002</string>
	</dict>
	<key>n18ap</key>
	<dict>
		<key>device</key>
		<string>ipod31</string>
		<key>restoreiv</key>
		<string>b05f288ccfce3f870f8572ccf9c939c5</string>
		<key>iBSSKey</key>
		<string>406b5d2678c9292cf3c5af199ba962aa23db115a9d7160fa1bd09fd9932160d9</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4300.20120427.WvgGq/iPod3,1_5.1.1_9B206_Restore.ipsw</string>
		<key>restorekey</key>
		<string>9a3b51af7076f4f93febbfae9d1a5388a161076c312732f9ef25ed4b8a0c0306</string>
		<key>iBECKey</key>
		<string>457d910bc7fd0ef6b71d2714d20d9a70cbc741e863ae57883dba4568d29912d4</string>
		<key>iBSSIV</key>
		<string>e803340e5c0ac2d1c898f6980285e67e</string>
		<key>KernelcacheIV</key>
		<string>5d618983129f3b121ad032dc0a170ea9</string>
		<key>build</key>
		<string>9B206</string>
		<key>iBECIV</key>
		<string>a160c55d4571b060bb82689e2f10d4ef</string>
		<key>KernelcacheKey</key>
		<string>835138e000a3d9425cc1d0d57cacd55ea6a7e46a42fac59dd55f98cb80240fe3</string>
		<key>restoredmg</key>
		<string>038-4308-023</string>
	</dict>
	<key>n81ap</key>
	<dict>
		<key>device</key>
		<string>ipod41</string>
		<key>restoreiv</key>
		<string>ce6b50a8351823e0f21857d58bfc1dd1</string>
		<key>iBSSKey</key>
		<string>a8ef6d02fa5958099fc58fbcc160066faafda0053916905c0009d33ef53c7d0d</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4298.20120427.Tzr8w/iPod4,1_5.1.1_9B206_Restore.ipsw</string>
		<key>restorekey</key>
		<string>da5438ed6938b3eeaca8a3b543bcf2e461e9d9cb4f327722b5f8c3c55b197ea1</string>
		<key>iBECKey</key>
		<string>0f6e9c878784f3b2ce6fa248cbf256dbfc77ca771c202f8c27e461ea4aa9e1aa</string>
		<key>iBSSIV</key>
		<string>ecd5bd9e4762aaae35637063420d54d1</string>
		<key>KernelcacheIV</key>
		<string>bdae7d7788f40887b1d6cac3cdc13a1d</string>
		<key>build</key>
		<string>9B206</string>
		<key>iBECIV</key>
		<string>c8c8b3eba9a257c4ce0227098e431f23</string>
		<key>KernelcacheKey</key>
		<string>d28ad9653306f904f28bdd56de66a80add51fc953deeb09857fb119d739bf2de</string>
		<key>restoredmg</key>
		<string>038-4361-021</string>
	</dict>
	<key>k48ap</key>
	<dict>
		<key>device</key>
		<string>ipad11</string>
		<key>restoreiv</key>
		<string>3f009f46be4c7bfe4be64183e38b68b8</string>
		<key>iBSSKey</key>
		<string>92f1cc2ca8362740734d69386fa6dde5582e18786777e1f9772d5dd364d873fb</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iOS5.1.1/041-4292.02120427.Tkk0d/iPad1,1_5.1.1_9B206_Restore.ipsw</string>
		<key>restorekey</key>
		<string>e3b3c8fca6f358eb18a38d611f3b60caac1d3638b38ff5cec50c151226400988</string>
		<key>iBECKey</key>
		<string>1ba1f38e6a5b4841c1716c11acae9ee0fb471e50362a3b0dd8d98019f174a2f2</string>
		<key>iBSSIV</key>
		<string>9c69f81db931108e8efc268de3f5d94d</string>
		<key>KernelcacheIV</key>
		<string>140984858e5c7fe245a43596f5370a0e</string>
		<key>build</key>
		<string>9B206</string>
		<key>iBECIV</key>
		<string>bde7b0d5cf7861479d81eb23f99d2e9e</string>
		<key>KernelcacheKey</key>
		<string>fc6733108c9bd4b2179257102f81998089437c2c58cbdb8752fd40a442bd9434</string>
		<key>restoredmg</key>
		<string>038-4361-021</string>
	</dict>
	<key>k66ap</key>
	<dict>
		<key>device</key>
		<string>appletv21</string>
		<key>restoreiv</key>
		<string>2125250914722704700cc735cbe4a3ae</string>
		<key>iBSSKey</key>
		<string>2f442e98254dde0a75ca8d35ea48644bce9efdeb34332e0ec730e848539acead</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/AppleTV/041-4362.20120605.t8i4U/AppleTV2,1_5.0.2_9B830_Restore.ipsw</string>
		<key>restorekey</key>
		<string>9f0a7066672af338ae182f0e4885097e83331004fdbca9d3915fa043b781d935</string>
		<key>iBECKey</key>
		<string>975cf31cc14d83389e8136f68f0c26303d7d1db4b197c5f0a3c12b152cde626f</string>
		<key>iBSSIV</key>
		<string>67b821977559b8035887d46d68eb5b7b</string>
		<key>KernelcacheIV</key>
		<string>94d975ac6583505f71ba7d150866350b</string>
		<key>build</key>
		<string>9B830</string>
		<key>iBECIV</key>
		<string>d12f8e04287683c4e2b67feb5fa6e308</string>
		<key>KernelcacheKey</key>
		<string>bedf8192490f6185b9d4b2af370db44974c5d366f6bb36b90f2dcb5b9c7861b8</string>
		<key>restoredmg</key>
		<string>038-4379-031</string>
	</dict>
</dict>
</plist>