<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>m68ap</key>
	<dict>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com.edgesuite.net/content.info.apple.com/iPhone/061-7481.20100202.4orot/iPhone1,1_3.1.3_7E18_Restore.ipsw</string>
		<key>restorekey</key>
		<string>7029389c2dadaaa1d1e51bf579493824</string>
		<key>KernelcacheKey</key>
		<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
		<key>KernelcacheIV</key>
		<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
		<key>device</key>
		<string>iphone11</string>
		<key>restoreiv</key>
		<string>25e713dd5663badebe046d0ffa164fee</string>
		<key>restoredmg</key>
		<string>018-6494-014</string>
		<key>build</key>
		<string>7E18</string>
	</dict>
	<key>n82ap</key>
	<dict>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/061-8802.20100811.XcfpR/iPhone1,2_4.0.2_8A400_Restore.ipsw</string>
		<key>restorekey</key>
		<string>db611a918217b941e4736fb806cf8e95</string>
		<key>KernelcacheKey</key>
		<string>e869b1323671babf3f94998225a3c88f</string>
		<key>KernelcacheIV</key>
		<string>9746365b664b2ab8cb8ed1b283cd63c5</string>
		<key>device</key>
		<string>iphone12</string>
		<key>restoreiv</key>
		<string>d464c589db4c00bfe2c844e5cce76e23</string>
		<key>restoredmg</key>
		<string>018-8389-002</string>
		<key>build</key>
		<string>8A400</string>
	</dict>
	<key>n88ap</key>
	<dict>
		<key>device</key>
		<string>iphone21</string>
		<key>restoreiv</key>
		<string>ed03628b68b98887702ef6ef277f2b48</string>
		<key>iBSSKey</key>
		<string>34a2126f10e985c36f8d3aa9fee1210fb21eff5fb00b92312df6d83e5e5c22a1</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/041-3307.20111109.5tGhu/iPhone2,1_5.0.1_9A405_Restore.ipsw</string>
		<key>restorekey</key>
		<string>18c6320fee6ce45a7983f4ed9aeb8eed90c08c05cc0d406a207d3c1ccf3587b3</string>
		<key>iBECKey</key>
		<string>98299b12ee0eafe9028c2af13a2a5da96678848c0c2cf068ea3af269f5332985</string>
		<key>iBSSIV</key>
		<string>10b618d7d5731e326b018e95de6b8554</string>
		<key>KernelcacheIV</key>
		<string>1dab17ac1e9a92a93eb42222c2ec897a</string>
		<key>build</key>
		<string>9A405</string>
		<key>iBECIV</key>
		<string>27eddd5c22cff6a32d02ac99669f8395</string>
		<key>KernelcacheKey</key>
		<string>295ac86788a942d4f6cbf0275749b608a5dd12ad961241ae85d165295b290163</string>
		<key>restoredmg</key>
		<string>038-3713-001</string>
	</dict>
	<key>n90ap</key>
	<dict>
		<key>device</key>
		<string>iphone31</string>
		<key>restoreiv</key>
		<string>861ef22a2220f5791180191dedf28453</string>
		<key>iBSSKey</key>
		<string>f21078779f95dd9aa1b2d96d21ac34fc385657aa6cde77c44db051012dbaad2d</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/041-3309.20111109.64rtg/iPhone3,1_5.0.1_9A405_Restore.ipsw</string>
		<key>restorekey</key>
		<string>73c382680d3d724e5851554d1ca3ce4287e958f33021a5f084920030b6faf2af</string>
		<key>iBECKey</key>
		<string>9d35cc090e305faf449b8428fe4b0fb9d3b79fbd42da59746bec393b13582f8f</string>
		<key>iBSSIV</key>
		<string>05b6de2e7dc95144021a83202f61ab62</string>
		<key>KernelcacheIV</key>
		<string>5533d04f6c805307c2f2a573339a6850</string>
		<key>build</key>
		<string>9A405</string>
		<key>iBECIV</key>
		<string>1d30d95c43807e465d63840e36d68df0</string>
		<key>KernelcacheKey</key>
		<string>0ef7774fea99e988487f92f8765e4678aeefc8a14de40b95ba210955445eff22</string>
		<key>restoredmg</key>
		<string>038-3715-001</string>
	</dict>
	<key>n92ap</key>
	<dict>
		<key>device</key>
		<string>iphone33</string>
		<key>restoreiv</key>
		<string>02d55437d1fd7c9d24aeb312a78dbd49</string>
		<key>iBSSKey</key>
		<string>ba01d8cc57ecb0e6ac5760efc8a3b007c45e58c4b97aed78d34b8f2a4ad12822</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/041-3304.20111109.Vgtyh/iPhone3,3_5.0.1_9A405_Restore.ipsw</string>
		<key>restorekey</key>
		<string>3aeab4ceb61e011f3013873998bfcf01c585bb548f91e19c9085473f93f6a708</string>
		<key>iBECKey</key>
		<string>a53678bb23ac9782c6dc5a9c41276d79be63ce7e270b717c2ec2a309b98dfbce</string>
		<key>iBSSIV</key>
		<string>f12c8bac769bc818db694a4e4ce431a5</string>
		<key>KernelcacheIV</key>
		<string>e94b8b8e7a8cfb2a58820ac29fffde91</string>
		<key>build</key>
		<string>9A405</string>
		<key>iBECIV</key>
		<string>12a4ef7d5541c6a7aacbee76aaba93d0</string>
		<key>KernelcacheKey</key>
		<string>73efff4472beb0559a818d4ddd238f2d53524a22ab606bdd90c4ce979375cfac</string>
		<key>restoredmg</key>
		<string>038-3715-001</string>
	</dict>
	<key>n45ap</key>
	<dict>
		<key>device</key>
		<string>ipod11</string>
		<key>restoreiv</key>
		<string>25e713dd5663badebe046d0ffa164fee</string>
		<key>downloadurl</key>
		<string>iPod1,1_3.1.3_7E18_Restore.ipsw</string>
		<key>restorekey</key>
		<string>7029389c2dadaaa1d1e51bf579493824</string>
		<key>iBSSIV</key>
		<string>Not</string>
		<key>build</key>
		<string>7E18</string>
		<key>KernelcacheIV</key>
		<string>31e711201cf4dcf47be5be2a5b1b87a1</string>
		<key>iBECIV</key>
		<string>Not</string>
		<key>KernelcacheKey</key>
		<string>d0dfac22c03212f8a75fc9c69fe548b6</string>
		<key>restoredmg</key>
		<string>018-6494-014</string>
	</dict>
	<key>n72ap</key>
	<dict>
		<key>device</key>
		<string>ipod21</string>
		<key>restoreiv</key>
		<string>654eb6a2290da5b9b77e6570f2d8ba2b</string>
		<key>iBSSKey</key>
		<string>c3f0f7a3093a74b4ead7fa0b4f80dd38</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/061-9855.20101122.Lrft6/iPod2,1_4.2.1_8C148_Restore.ipsw</string>
		<key>restorekey</key>
		<string>8d53585fa73916d27016abc81e41da82</string>
		<key>iBECKey</key>
		<string>737023ff441df66a0e6dfc19ae15df67</string>
		<key>iBSSIV</key>
		<string>856c2d9884ab1485cfd75b533246282b</string>
		<key>KernelcacheIV</key>
		<string>2713903e1791608630aee3793cb2dc5c</string>
		<key>build</key>
		<string>8C148</string>
		<key>iBECIV</key>
		<string>2aed77208e0d6e0cd2d605c42fc75279</string>
		<key>KernelcacheKey</key>
		<string>1d052174d8d05c5a68a75b36ff4f28b6</string>
		<key>restoredmg</key>
		<string>038-0049-002</string>
	</dict>
	<key>n18ap</key>
	<dict>
		<key>device</key>
		<string>ipod31</string>
		<key>restoreiv</key>
		<string>f91e451ab030e7a2eb219e51ef523c80</string>
		<key>iBSSKey</key>
		<string>9d307bba8b9b2aa1a3777590c226397110f6c1dfc9ec0fd4397671691a2016d9</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/041-3314.20111109.Mbgh6/iPod3,1_5.0.1_9A405_Restore.ipsw</string>
		<key>restorekey</key>
		<string>2c5a60cd63f31e133c280dbc95c4640efdb39e70088d6f2de731ce6deb58f603</string>
		<key>iBECKey</key>
		<string>2faea9f60edaa820e93d707a7fc15f4aec3fc519d02754b5b0a07e07bf290d1b</string>
		<key>iBSSIV</key>
		<string>e069af55f6d92d8f0a1a7678d799121a</string>
		<key>KernelcacheIV</key>
		<string>1dbda19ff48be1f08a0503b78fa1dc2b</string>
		<key>build</key>
		<string>9A405</string>
		<key>iBECIV</key>
		<string>b9db93e06cdcc20ae46ded57e1356ded</string>
		<key>KernelcacheKey</key>
		<string>083588578634bea0cc134359a152119a18babf8b1ebeebb8c39cc6a84725dbec</string>
		<key>restoredmg</key>
		<string>038-3714-001</string>
	</dict>
	<key>n81ap</key>
	<dict>
		<key>device</key>
		<string>ipod41</string>
		<key>restoreiv</key>
		<string>da655731593ebcfc46f4f64249ee6c12</string>
		<key>iBSSKey</key>
		<string>971b74cfc725377e2b26463edacbded91a75936cc334b092a3fad903335cd09b</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/041-3313.20111109.Azxe3/iPod4,1_5.0.1_9A405_Restore.ipsw</string>
		<key>restorekey</key>
		<string>fad09c44bc8b29b54b0682d2a4a23d0bcbab832d9d7cb823d1e69d7c6cb2fa53</string>
		<key>iBECKey</key>
		<string>edfcfffd313d5277a778f804ce905d970e67d0791eb21e1a2216255afc453c3a</string>
		<key>iBSSIV</key>
		<string>00c5d93c3c7e25723a6ff56814c4b9ee</string>
		<key>KernelcacheIV</key>
		<string>a1e2d83f929f55f810bb0b5b00971804</string>
		<key>build</key>
		<string>9A405</string>
		<key>iBECIV</key>
		<string>1e47ed6650470bc12880f9a169a83ec3</string>
		<key>KernelcacheKey</key>
		<string>41218476826b0d23fce43db8ef317cef0a22e50ff7145ff587bd5c173f05f133</string>
		<key>restoredmg</key>
		<string>038-3715-001</string>
	</dict>
	<key>k48ap</key>
	<dict>
		<key>device</key>
		<string>ipad11</string>
		<key>restoreiv</key>
		<string>6071de3113ff3b4a5f6f2ebc907af054</string>
		<key>iBSSKey</key>
		<string>f2f614c0e5bac071da384e24b8035f59f7c49cc572ef11dfa8c1d322d45ea2bd</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/iPhone4/041-3308.20111109.Fvgtr/iPad1,1_5.0.1_9A405_Restore.ipsw</string>
		<key>restorekey</key>
		<string>db49f7a53a326ef954ac5f14e9070b772630c35c66a9a8552827d4923b774818</string>
		<key>iBECKey</key>
		<string>d07cbce9ecc535cf757e89b03460b8eb889f675807b632a94636452565915d05</string>
		<key>iBSSIV</key>
		<string>35ab5ac9ede6f05f3d35b9d2f4fa4a91</string>
		<key>KernelcacheIV</key>
		<string>7a9f7830796a5185ba394874b2473151</string>
		<key>build</key>
		<string>9A405</string>
		<key>iBECIV</key>
		<string>91984b64f1e7bf45d0925e113e208591</string>
		<key>KernelcacheKey</key>
		<string>d90fe16f581323d0c00af8095cc36b4aaf42aa0f4f265a296d119984c27ba62b</string>
		<key>restoredmg</key>
		<string>038-3715-001</string>
	</dict>
	<key>k66ap</key>
	<dict>
		<key>device</key>
		<string>appletv21</string>
		<key>iBSSKey</key>
		<string>0b9a871abbe670a9c8391df347b5331a770cb09d870f81293b974ca9253f4c29</string>
		<key>downloadurl</key>
		<string>http://appldnld.apple.com/AppleTV/041-3539.20111215.EQTW8/AppleTV2,1_4.4.4_9A406a_Restore.ipsw</string>
		<key>iBECKey</key>
		<string>02d501bc4a5be0d80df13aac8265ebba6739a6b5722e003b971dd5917892affb</string>
		<key>iBSSIV</key>
		<string>4d74e8728184fb3c512406be00b1e04e</string>
		<key>KernelcacheIV</key>
		<string>48ccd86d1499acfe792ce121f5e3816a</string>
		<key>build</key>
		<string>9A406a</string>
		<key>iBECIV</key>
		<string>3cb31d78e4096fb3a596c869e1780a3f</string>
		<key>ramdisknotencrypted</key>
		<string>true</string>
		<key>KernelcacheKey</key>
		<string>ffec26090f01412d2fddbe234d57b1181d4776846688806bd38b5ed6a6690029</string>
		<key>restoredmg</key>
		<string>038-3848-002</string>
	</dict>
</dict>
</plist>